<div>
    <h2> Даний сайт розроблений для автоматизації діяльності відділу кадрів інституту з обліку особового складу та має
        такий
        функціонал:</h2>

    <ul>
        <li>Створювати, редагувати, видаляти підрозділи.</li>
        <li>Додавати по підрозділу військовослужбовців або працівників ЗСУ, також редагувати та видаляти їх.</li>
        <li>Кожен користувач має свої підрозділи та може ділитися ними з іншими користувачами.</li>
        <li>Є можливість за необхідність робити пошук підрозділів.</li>
    </ul>
</div>
