<div class="modal__window">
  <div class="modal__content border border-warning border-2 border-opacity-50">

    <form (ngSubmit)="editServiceMan()" [formGroup]="form">

      <div class="input-group mb-3">

        <div class="input-group-prepend"
             style="margin-top: 1%; margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Full name</span>
        </div>

        <input type="text" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default"
               style="margin-top: 1%;margin-right: 3%" formControlName="fullName">

      </div>

      <div style="color: red; margin-left: 220px" *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">

        <p *ngIf="fullName.errors?.required">
          full name required
        </p>

        <p *ngIf="fullName.errors?.minlength">
          min length : {{ fullName.errors?.minlength.requiredLength }}
        </p>

        <p *ngIf="fullName.errors?.maxlength">
          max length : {{ fullName.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div class="input-group mb-3">

        <div class="input-group-prepend"
             style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Rank</span>
        </div>

        <input type="text" class="form-control"
               style="margin-right: 3%"
               formControlName="rank">

      </div>

      <div style="color: red; margin-left: 220px" *ngIf="rank?.invalid && (rank?.dirty || rank?.touched)">

        <p *ngIf="rank.errors?.required">
          unit name required
        </p>

        <p *ngIf="rank.errors?.minlength">
          min length : {{ rank.errors?.minlength.requiredLength }}
        </p>

        <p *ngIf="rank.errors?.maxlength">
          max length : {{ rank.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div class="input-group mb-3">

        <div class="input-group-prepend"
             style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Position</span>
        </div>

        <input type="text" class="form-control"
               style="margin-right: 3%"
               formControlName="position">

      </div>

      <div style="color: red; margin-left: 220px" *ngIf="position?.invalid && (position?.dirty || position?.touched)">

        <p *ngIf="position.errors?.required">
          unit name required
        </p>

        <p *ngIf="position.errors?.minlength">
          min length : {{ position.errors?.minlength.requiredLength }}
        </p>

        <p *ngIf="position.errors?.maxlength">
          max length : {{ position.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div class="input-group mb-3">

        <div class="input-group-prepend"
             style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Status</span>
        </div>

        <input type="text" class="form-control"
               style="margin-right: 3%"
               formControlName="status">

      </div>

      <div style="color: red;margin-left: 220px" *ngIf="status?.invalid && (status?.dirty || status?.touched)">

        <p *ngIf="status.errors?.required">
          unit name required
        </p>

        <p *ngIf="status.errors?.minlength">
          min length : {{ status.errors?.minlength.requiredLength }}
        </p>

        <p *ngIf="status.errors?.maxlength">
          max length : {{ status.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div class="input-group">

        <div class="input-group-prepend"
             style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Status description</span>
        </div>

        <textarea style="margin-right: 3%;min-height: 100px; max-height: 100px; resize: none" class="form-control"
                  placeholder="here describe status ( in outfit, in stock )"
                  formControlName="statusDescription"></textarea>

      </div>

      <div style="color: red;margin-left: 220px">

        <p *ngIf="statusDescription.errors?.maxlength">
          max length : {{ statusDescription.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div class="input-group" style="margin-top: 3%">

        <div class="input-group-prepend"
             style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Notes</span>
        </div>

        <textarea style="margin-right: 3%;min-height: 100px; max-height: 100px; resize: none" class="form-control"
                  placeholder="notes about serviceman"
                  formControlName="notes"></textarea>

      </div>

      <div style="color: red;margin-left: 220px">

        <p *ngIf="notes.errors?.maxlength">
          max length : {{ notes.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div class="input-group mb-3">

        <div class="input-group-prepend"
             style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Is military</span>
        </div>

        <input style="margin-top: 10px" class="form-check-input" type="checkbox"
               formControlName="isMilitary">

      </div>


      <div style="margin-top: 1%; margin-left: 22%">

        <button
          [disabled]="this.form.invalid"
          style="height: 10%; width: 20%;" type="submit" class="btn btn-outline-success">Save
        </button>
        <button (click)="modalDetailsServiceManService.close()" style="height: 10%; width: 20%; margin-left: 57%"
                type="button"
                class="btn btn-outline-danger">Cancel
        </button>

      </div>

    </form>

  </div>

</div>

