<div>
    <p *ngIf="isLoading">Загрузка...</p>

    <ng-content></ng-content>

    <h4>Тут ви можете надати / видалити доступ до ваших підрозділів</h4>

    <input type="text" class="form-control w-100" style="margin-top: 20px" placeholder="Пошук користувачів"
           [(ngModel)]="usersSearchText">

    <div class="border border-primary" style="margin-top: 20px; width: 100%; padding: 20px 20px 20px 20px"
         *ngFor="let user of userService.users | filterUsers: usersSearchText;">

        <app-user-for-share [user]="user" [isShared]="isShared(user)">

        </app-user-for-share>

    </div>
</div>
