<div class="modal__window">

  <div class="modal__content border border-warning border-2 border-opacity-50">

    <form [formGroup]="form" (ngSubmit)="editUnit()" style="height: 100%">

      <div class="input-group mb-3">

        <div class="input-group-prepend"
             style="margin-top: 3%; margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
              id="inputGroup-sizing-default">Назва підрозділу</span>
        </div>

        <input type="text" class="form-control"
               style="margin-top: 3%;margin-right: 3%"
               formControlName="name">

      </div>

      <div style="color: red; margin-left: 240px" *ngIf="name?.invalid && (name?.dirty || name?.touched)">

        <p *ngIf="name.errors?.required">
          Назва має бути не пуста
        </p>

        <p *ngIf="name.errors?.minlength">
          Мінімальна довжина : {{ name.errors?.minlength.requiredLength }}
        </p>

        <p *ngIf="name.errors?.maxlength">
          Максимальна довжина : {{ name.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div class="input-group mb-3" style="height: 70%">

        <div class="input-group-prepend"
             style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text text-wrap"
        >Інформація про підрозділ</span>
        </div>

        <textarea style="resize: none;margin-right: 3%;" class="form-control"
                  formControlName="description"
        >  </textarea>

      </div>

      <div style="color: red; margin-left: 240px">

        <p *ngIf="description.errors?.maxlength">
          max length : {{ description.errors?.maxlength.requiredLength }}
        </p>

      </div>

      <div style="margin-top: 1%; margin-left: 16%">

        <button [disabled]="form.invalid" style="height: 10%; width: 20%;" type="submit"
                class="btn btn-outline-success">Save
        </button>
        <button (click)="modalEditUnitService.close()" style="height: 10%; width: 20%; margin-left: 57%" type="button"
                class="btn btn-outline-danger">Cancel
        </button>

      </div>

    </form>

  </div>

</div>

