<div class="modal__window">
    <div class="modal__content border border-warning border-2 border-opacity-50">

        <form style="height: 100%" [formGroup]="form" (ngSubmit)="createNewServiceMan()">

            <div class="input-group mb-3">

                <div class="input-group-prepend"
                     style="margin-top: 1%; margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Повне ім'я</span>
                </div>

                <input type="text" class="form-control"
                       style="margin-top: 1%;margin-right: 3%"
                       formControlName="fullName">


            </div>

            <div style="color: red; margin-left: 210px"
                 *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)">

                <p *ngIf="fullName.errors?.required">
                    Повне ім'я має бути не пустим
                </p>

                <p *ngIf="fullName.errors?.minlength">
                    Мінімальна довжина : {{ fullName.errors?.minlength.requiredLength }}
                </p>

                <p *ngIf="fullName.errors?.maxlength">
                    Максимальна довжина : {{ fullName.errors?.maxlength.requiredLength }}
                </p>


            </div>


            <div class="input-group mb-3">

                <div class="input-group-prepend"
                     style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Звання</span>
                </div>

                <input type="text" class="form-control"
                       style="margin-right: 3%"
                       formControlName="rank">

            </div>

            <div style="color: red; margin-left: 210px" *ngIf="rank?.invalid && (rank?.dirty || rank?.touched)">

                <p *ngIf="rank.errors?.required">
                    Звання повинно бути не пустим
                </p>

                <p *ngIf="rank.errors?.minlength">
                    Мінімальна довжина : {{ rank.errors?.minlength.requiredLength }}
                </p>

                <p *ngIf="rank.errors?.maxlength">
                    Максимальна довжина : {{ rank.errors?.maxlength.requiredLength }}
                </p>


            </div>

            <div class="input-group mb-3">

                <div class="input-group-prepend"
                     style="margin-left: 3%; margin-right: 3%; width: 150px">
        <span class="input-group-text"
        >Посада</span>
                </div>

                <input type="text" class="form-control"
                       style="margin-right: 3%"
                       formControlName="position">

            </div>

            <div style="color: red; margin-left: 210px"
                 *ngIf="position?.invalid && (position?.dirty || position?.touched)">

                <p *ngIf="position.errors?.required">
                    Посада має бути не пуста
                </p>

                <p *ngIf="position.errors?.minlength">
                    Мінімальна довжина : {{ position.errors?.minlength.requiredLength }}
                </p>

                <p *ngIf="position.errors?.maxlength">
                    Максимальна довжина : {{ position.errors?.maxlength.requiredLength }}
                </p>


            </div>


            <div style="margin-top: 1%; margin-left: 21%">

                <button [disabled]="form.invalid"
                        style="height: 10%; width: 20%;" type="submit" class="btn btn-outline-success">Зберігти
                </button>
                <button (click)="modalCreateServiceManService.close()"
                        style="height: 10%; width: 20%; margin-left: 57%" type="button"
                        class="btn btn-outline-danger">Повернутись назад
                </button>

            </div>

        </form>

    </div>
</div>

