<div>

  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-75">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <h4 class="mt-1 mb-4 pb-1">Авторизація</h4>
                  </div>

                  <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <p>Введіть ваші данні</p>

                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control" placeholder="Ім'я користувача"
                             formControlName="username"/>

                    </div>

                    <div style="color: red" *ngIf="username?.invalid && (username?.dirty || username?.touched)">

                      <p *ngIf="username.errors?.required">
                        Ім'я користувача повинне бути не пустим
                      </p>

                      <p *ngIf="username.errors?.minlength">
                        Мінімальна довжина : {{ username.errors?.minlength.requiredLength }}
                      </p>

                      <p *ngIf="username.errors?.maxlength">
                        Максимальна довжина : {{ username.errors?.maxlength.requiredLength }}
                      </p>

                    </div>


                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" placeholder="Ваш пароль"
                             formControlName="password"/>
                    </div>

                    <div style="color: red" *ngIf="password?.invalid && (password?.dirty || password?.touched)">

                      <div>
                        <p *ngIf="password.errors?.required">
                          Пароль повинен бути не пустим
                        </p>

                        <p *ngIf="password.errors?.minlength">
                          Мінімальна довжина : {{ password.errors?.minlength.requiredLength }}
                        </p>

                        <p *ngIf="password.errors?.maxlength">
                          Максимальна довжина : {{ password.errors?.maxlength.requiredLength }}
                        </p>

                      </div>

                    </div>

                    <p *ngIf="errorMessage !==''" style="color: red"> {{ errorMessage }}</p>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button [disabled]="form.invalid"
                              class="btn btn-primary btn-block fa-lg gradient-custom mb-3 w-100" type="submit">
                        Ввійти
                      </button>
                    </div>

                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Військовий інститут інформатизації і телекомунікацій імені героїв Крут</h4>
                  <p class="small mb-0">Діяльність відділу кадрів</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
