<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-75">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Реєстрація</h2>

                            <form [formGroup]="form" (ngSubmit)="submitForm()">

                                <div class="form-outline mb-4">
                                    <input type="text" class="form-control form-control-lg"
                                           formControlName="username"/>
                                    <label class="form-label">Ім'я користувача</label>

                                    <div style="color: red"
                                         *ngIf="username?.invalid && (username?.dirty || username?.touched)">

                                        <div>
                                            <p *ngIf="username.errors?.required">
                                                Ім'я користувача має бути не пустим
                                            </p>

                                            <p *ngIf="username.errors?.minlength">
                                                Мінімальна довжина вашого ім'я
                                                : {{ username.errors?.minlength.requiredLength }}
                                            </p>

                                            <p *ngIf="username.errors?.maxlength">
                                                Максимальна довжина вашого ім'я
                                                : {{ username.errors?.maxlength.requiredLength }}
                                            </p>

                                        </div>


                                    </div>

                                </div>


                                <div class="form-outline mb-4">
                                    <input type="password" class="form-control form-control-lg"
                                           formControlName="password"/>
                                    <label class="form-label">Введіть ваш пароль</label>

                                    <div style="color: red"
                                         *ngIf="password?.invalid && (password?.dirty || password?.touched)">

                                        <div>
                                            <p *ngIf="password.errors?.required">
                                                Пароль має бути не пустим
                                            </p>

                                            <p *ngIf="password.errors?.minlength">
                                                Максимальна довжина паролю
                                                : {{ password.errors?.minlength.requiredLength }}
                                            </p>

                                            <p *ngIf="password.errors?.maxlength">
                                                Мінімальна довжина паролю
                                                : {{ password.errors?.maxlength.requiredLength }}
                                            </p>

                                        </div>


                                    </div>

                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" class="form-control form-control-lg"
                                           formControlName="repeatedPassword"/>
                                    <label class="form-label">Введіть ваш пароль знову</label>

                                    <div style="color: red"
                                         *ngIf="repeatedPassword?.invalid && (password?.dirty || password?.touched)">

                                        <div>
                                            <p *ngIf="repeatedPassword.errors?.required">
                                                Пароль має бути не пустим
                                            </p>

                                            <p *ngIf="repeatedPassword.errors?.minlength">
                                                Максимальна довжина паролю
                                                : {{ repeatedPassword.errors?.minlength.requiredLength }}
                                            </p>

                                            <p *ngIf="repeatedPassword.errors?.maxlength">
                                                Мінімальна довжина паролю
                                                : {{ repeatedPassword.errors?.maxlength.requiredLength }}
                                            </p>

                                        </div>


                                    </div>

                                </div>

                                <p *ngIf="errorMessage !==''" style="color: red"> {{ errorMessage }}</p>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" [disabled]="form.invalid"
                                            class="btn btn-success btn-block btn-lg gradient-custom text-body w-100">
                                        Зареєструватися
                                    </button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
