<ul class="nav justify-content-center" style="background-color: #e3f2fd;">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/">Information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/my-units">My units</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/share-units">Share units</a>
  </li>
  <li class="nav-item" *ngIf="localStorage.getItem('auth-nestjs') === null">
    <a class="nav-link link-primary" routerLink="/login">Log in</a>
  </li>

  <li class="nav-item" *ngIf="localStorage.getItem('auth-nestjs') === null">
    <a class="nav-link link-primary" routerLink="/registration">register</a>
  </li>


  <li class="nav-item" *ngIf="localStorage.getItem('auth-nestjs') !== null">
    <a (click)="logOutAction()" routerLink="/" class="nav-link link-primary">Log out</a>
  </li>

</ul>
